<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/register.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="form-layout">
        <form action="">
            <input type="id" name="id" placeholder="Id">
            <input type="name" name="name" placeholder="Name">
            <input type="password" name="password" placeholder="Password">
            <input type="repassword" name="repassword" placeholder="Re-type password">
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>