body{
    margin: 0;
    padding: 0;
    align-items: center;
}

.form-layout{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    padding: 1em;
    height: 200px;
    background: rgb(223, 222, 222);
    border-radius: 20px;
    box-shadow: 0px 10px 20px 2px lightgray;
}

form input, button{
    width: 80%;
    height: 25px;
    align-self: center;
    border-radius: 10px;
    border: none;
}

button:focus, input:focus{
    outline: none;
}