body{
    margin: 0;
    padding: 0;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.form-layout{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    height: 50%;
    padding: 1em;
    background: rgb(255, 246, 124);
    border-radius: 20px;
    box-shadow: 0px 10px 20px 2px lightgray;
}

@media (max-width: 950px){
    form{
        width: 80%;
    }
}

h2{
    align-self: center;
    color: rgb(54, 54, 54);
}

input, button{
    align-self: center;
    border-radius: 10px;   
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

input{
    width: 90%;
    height: 25px;
    padding: 3px;
    text-align: center;
    border: 1px solid rgb(177, 177, 33);
}

::placeholder{
    color: rgb(175, 174, 174);
}

input:focus{
    box-shadow: 0px 0px 10px 4px rgb(255, 196, 0);
}

button:focus, input:focus{
    outline: none;
}

button {
    background: rgb(32, 32, 32);
    color: white;
    height: 40px;
    width: 40%;
    border: none;
}

button:hover{
    background: rgb(65, 65, 65);
    cursor: pointer;
    transition: 0.5s;
}